build/*
*/build
target/*
bin/*
.project
.classpath
.settings/*
.gradle/*
*/.gradle
.idea/*
.jruby/*
.sass-cache/*
*.iml
*.log
classes/*
activemq-data/*
/bin/
/target
src/main/resources/application.properties
src/main/webapp/avatars/*